---
layout: parallax
meta:
  style: home
---
<header class="slide background">
  <div class="header-content">
    <h1 class="title">{{site.title}}</h1>
    <h2 class="tagline">{{site.description}}</h2>
  </div>
</header>
<section class="slide foreground">
  <div class="main">
    <h1>Hello !</h1>
    <p>I'm a software developer, mainly in Web with JavaScript (all forms), and I'm based near Lyon (in France south).</p>
    <p>A lot of my energy is spent (but never in vain {% include icon.html src='emoticon-tongue' %}) on side projects, this timeline presents my portfolio.</p>
    <p>For more serious achievments, you can consult {% include download.html src='Resume - Damien SIMONIN FEUGAS.pdf' txt='my resume' %}</p>
    <p>Last but not least, I'm a proud husband and father, and I'm practicing Dance Sport in competition with my wife.</p>
    <p><i>Dear reader, be warned that work is still in progress. I'll add quickly more projects !</i><p>
  </div>
  <div class="timeline">
    <div id="timeline"></div>
  </div>
</section>
<footer class="slide background">
  <div class="layer"></div>
  {% include credits.html %}
</footer>

<script type="application/javascript" src="/src/vendor/timeline-3.3.8-min.js"></script>
<script type="application/javascript" src="src/main.js"></script>
