---
---
@import 'variables';

html, body {
  height: 100%;
}

.parallax {

  header.slide {
    background-image: url('/image/perou.jpg');
    background-position: center top;
    background-size: auto 55%;
    box-shadow: none;
    padding: 0;

    .header-content {
      padding: 15vh 10%;
    }
  }

  .foreground.slide {
    padding: 0;

    &:before {
      background-color: $page-bg;
    }
  }

  footer.slide {
    border: none;
    background-image: url('/image/marseille.jpg');
    background-position: center 125%;
    background-size: 100% auto;
    margin: 0;

    .layer {
      background-color: rgba($code-color, 0.65);
    }

    .credits {
      background-color: $page-bg;
      font-size: $text-size;
      padding: 5vh 10%;
      position: relative;
      z-index: 1;
    }
  }
}

.timeline {
  height: 500px;
  padding: 2rem;

  .tl-timeline {
    background-color: transparent;
    color: $text-color;
    font-family: $text-font;
    font-size: $text-size;
  }

  @each $elem in h1, h2, h3, h4, h5, h6, p {
    .tl-slide.tl-full-image-background #{$elem},
    .tl-slide.tl-full-color-background #{$elem} {
      color: $heading-color !important;
      text-shadow: none !important;
    }

    .tl-slide.tl-full-image-background #{$elem}.inverted,
    .tl-slide.tl-full-color-background #{$elem}.inverted {
      color: $header-color !important;
    }

    .tl-slide.tl-full-image-background #{$elem} a,
    .tl-slide.tl-full-color-background #{$elem} a,
    .tl-slide.tl-full-image-background #{$elem} a:hover,
    .tl-slide.tl-full-color-background #{$elem} a:hover {
      color: $heading-color !important;
      text-shadow: none !important;
    }

    .tl-slide.tl-full-image-background #{$elem} a.inverted,
    .tl-slide.tl-full-color-background #{$elem} a.inverted,
    .tl-slide.tl-full-image-background #{$elem} a.inverted:hover,
    .tl-slide.tl-full-color-background #{$elem} a.inverted:hover {
      color: $header-color !important;
    }
  }

  @each $elem in i, b, p {
    .tl-slide.tl-full-image-background #{$elem},
    .tl-slide.tl-full-color-background #{$elem} {
      color: $text-color !important;
      text-shadow: none !important;
      font-size: 1.2em;
    }

    .tl-slide.tl-full-image-background #{$elem}.inverted,
    .tl-slide.tl-full-color-background #{$elem}.inverted {
      color: $code-bg !important;
    }
  }

  @each $elem in '.tl-headline-date', 'p .tl-headline-date', 'h3.tl-headline-date' {
    .tl-full-image-background .tl-text #{$elem},
    .tl-full-color-background .tl-text #{$elem} {
      color: $disabled-color !important;
      font-size: 0.9em;
      margin-bottom: 1.5em;
    }
  }

  .tl-slidenav-previous, .tl-slidenav-next {
    &:hover .tl-slidenav-content-container .tl-slidenav-icon {
      margin: 0;

      &:before {
        box-shadow: $shadow-lvl-1;
        top: -.1em;
      }
    }

    .tl-slidenav-content-container .tl-slidenav-icon {
      text-shadow: none;
      line-height: 1;
      margin: 0;
      font-size: 0;

      &:before {
        transition: all 250ms;
        background: $heading-color;
        border-radius: 100%;
        color: $code-bg;
        content: '\f145';
        font-family: 'MaterialDesignIcons';
        font-size: $heading-size;
        height: 1em;
        padding: 4px;
        position: relative;
        text-shadow: none;
        top: 0;
        width: 1em;
      }
    }

    .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon:before {
        background: $code-bg;
        color: $heading-color;
    }
  }

  .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon:before {
    content: '\f140';
  }

  .tl-headline > a {

    &:after {
      content: ' \f3cc';
      font-family: 'MaterialDesignIcons';
      height: 1em;
      width: 1em;
    }
  }

  .tl-timeaxis {
    font-family: $heading-font;
  }

  .tl-slide-content, .tl-text p {
    color: $text-color !important;
    text-shadow: none !important;
    white-space: nowrap;
  }
}
