@import "utils";

/*-----------------------------------------------------------------------------
 * General layout
 */

header {
  box-shadow: $shadow-lvl-1;
  position: relative;

  &.header-image {
    background-size: 120% auto;
    background-position: 5% 15%;
  }

  .header-content {
    background: $header-bg;
    display: block;
    position: relative;
    text-align: center;

    &:hover {
      text-decoration: none;
    }

    .title {
      color: $header-color;
      margin-top: 0;
      margin-bottom: 0.1rem;
    }

    .tagline {
      color: rgba($header-color, 0.7);
      font-weight: normal;
      margin-bottom: 1rem;
    }

    .action-button {
      bottom: -0.5em;
      box-shadow: $shadow-lvl-2;
      position: absolute;
      right: 20%;
      top: auto;

      &:hover {
        box-shadow: $shadow-lvl-3;
        top: auto;
        bottom: -0.4em;
      }
    }

    @media screen {
      @media #{$wide-display} {
        padding: 4rem 5rem;

        .title {
          font-size: 4.25rem;
        }
        .tagline {
          font-size: 2rem;
        }
      }
      @media #{$medium-display} {
        padding: 2rem 3rem;

        .title {
          font-size: 3rem;
        }
        .tagline {
          font-size: 1.5rem;
        }
      }
      @media #{$small-display} {
        padding: 2rem 1rem;

        .title {
          font-size: 2.5rem;
        }
        .tagline {
          font-size: 1rem;
        }
      }
    }
  }
}

.main {
  margin: 0 auto 1rem;

  > :first-child {
    margin-top: 0;
  }

  h1:before {
    content: "\f0142";
    display: inline-block;
    font-family: "Material Design Icons";
    font-style: normal;
    font-weight: normal;
    height: 1em;
    margin-left: -0.5em;
    width: 1em;
  }

  @media screen {
    @media #{$wide-display} {
      font-size: 1.1rem;
      padding: 2rem 6rem;
      max-width: 64rem;
    }
    @media #{$medium-display} {
      font-size: 1.1rem;
      padding: 2rem 4rem;
    }
    @media #{$small-display} {
      font-size: 1rem;
      padding: 2rem 1rem;
    }
  }
}

.centered {
  display: block;
  width: 100%;
  text-align: center;

  > * {
    text-align: left;
  }
}

.footer-buttons {
  margin: 1em 0;
  text-align: center;
}

footer {
  border-top: solid 1px $border-color;
  padding: 10vh 0;
  text-align: center;

  .owner {
    display: block;
    font-weight: bold;
  }

  .credits {
    color: $code-color;
    display: inline-block;
    position: relative;

    .feed > .mdi {
      font-size: 1.5em;
      vertical-align: bottom;
    }
  }

  @media screen {
    @media #{$small-display} {
      font-size: 0.8rem;
    }
    @media #{$wide-display}, #{$medium-display} {
      font-size: 0.75rem;
    }
  }
}

/*-----------------------------------------------------------------------------
 * Parallax
 */

.parallax .slide {
  padding: 25vh 10%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
