---
---
@import 'vendor/normalize.css';
@import 'vendor/github-light.css';
@import 'vendor/timeline-3.3.8-min.css';
@import 'vendor/materialdesignicons.min.css';
@import 'vendor/syntax.css';
@import 'variables';

/*-----------------------------------------------------------------------------
 * Typography
 */

html, body {
	color: $text-color;
  background: $page-bg;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $text-font;
  font-size: $text-size;
  line-height: 1.5;;
  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $link-color;
  }
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1em;
}

ul, ol {
  margin-top: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: $heading-color;
    font-family: $heading-font;
    font-size: $heading-size - ($i - 1) * 0.1;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

:not(.highlight) > pre {
  color: $code-color;
  background-color: $code-bg;
  border: solid 1px $border-color;
  border-radius: 0.3rem;
  font-family: $code-font;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0.8rem;
  word-wrap: normal;
}

.highlight > pre {
  padding: 0.8rem;
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 0.9rem;
}

blockquote {
  color: #819198;
  border-left: 0.3rem solid $border-color;
  margin-left: 0;
  padding: 0 1rem;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

table {
  display: block;
  overflow: auto;
  width: 100%;
  word-break: normal;
  word-break: keep-all;

  table th {
    font-weight: bold;
  }
  th, td {
    border: 1px solid $border-color;
    padding: 0.5rem 1rem;
  }
}

dl {
  padding: 0;

  dt {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0;
  }

  dd {
    margin-bottom: 1rem;
    padding: 0;
  }
}

hr {
  background-color: $border-color;
  border: 0;
  height: 2px;
  margin: 1rem 0;
  padding: 0;
}

@import 'layout';
@import 'component';